.spacer {
    height: 30px;
}
.big-spacer {
    height: 100px;
}
.footer {
    padding: 3rem 1.5rem 3rem;
}
.hide {
    display: none;
}
.bc-bullet a {
    color: white;
}
.navbar-content-vertical {
    align-items: center;
    justify-content: center;
}
.relative {
    position: relative;
}
.center-in-relative {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.delete.is-danger {
    background-color: rgba(255, 0, 0, 0.2)
}

.search-tag {
    transition: 0.2s ease-in-out;
}

.search-tag:hover {
    cursor: pointer;
    background-color: #1b7fc1 !important;
}

.seed {
    color: #87C428;
}

.peer {
    color: #C42828;
}