<section class="section">
    <div class="container">
        <div class="notification content">
            <h2 class="subtitle is-2">
                <%= __("Sources") %>
            </h2>
            <p class="subtitle">
                <%= __("Set up sources") %> :
            </p>
            <div class="spacer"></div>
            <div class="field is-grouped">
                <div class="control">
                    <a href="/setup/2"><button class="button is-text"><%= __("Previous") %></button></a>
                </div>
                <div class="control">
                    <button class="button is-link"><%= __("Next") %></button>
                </div>
            </div>
        </div>
    </div>
</section>