.spacer {
    height: 30px;
}
.big-spacer {
    height: 100px;
}
.footer {
    padding: 3rem 1.5rem 3rem;
}
.hide {
    display: none;
}
.bc-bullet a {
    color: white;
}
.navbar-content-vertical {
    align-items: center;
    justify-content: center;
}
.relative {
    position: relative;
}
.center-in-relative {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.delete.is-danger {
    background-color: rgba(255, 0, 0, 0.2)
}

.search-tag {
    transition: 0.2s ease-in-out;
}

.search-tag:hover {
    cursor: pointer;
    background-color: #1b7fc1 !important;
}

table tbody td {
    vertical-align: middle !important;
}

.btn-dl {
    text-align: center;
}

.seed {
    color: #87C428;
}

.peer {
    color: #C42828;
}

.sub-span {
    color: #969696;
}

.marge-auto {
    margin: auto;
}


.modal-home .modal-card-body {
    padding: 0 !important;
}

.modal-home .soft {
    display: flex;
    cursor: pointer;
    padding: 1em 2em;
}

.modal-home .soft:hover {
    background-color: #eaeaea;
}

.modal-home .soft svg {
    width: 50px;
    height: 50px;
}

.modal-home .soft span {
    line-height: 50px;
    font-size: 1.7em;
    font-weight: 700;
    margin-left: 2em;
}