<%
function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
%>
<div class="big-spacer"></div>
<div class="container">
    <div class="field">
        <div class="control is-large has-icons-right">
            <input class="input is-large is-rounded" id="search" type="text" placeholder="<%= __("Search") %> ...">
            <span class="icon is-small is-right">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="columns">
        <%
        let catName = Object.keys(cat);
        for (let i = 0; catName[i]; i++) { %>
        <div class="column has-text-centered">
            <span class="tag is-info is-large search-tag" data-value="<%= cat[catName[i]] %>"><%= __(capitalizeFirstLetter(catName[i])) %></span>
        </div>
        <% } %>
    </div>
    <div class="spacer"></div>
    <div class="columns columns-rst">
        <table class="table is-striped is-fullwidth hide">
            <thead class="thead">
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="big-spacer"></div>