<div class="big-spacer"></div>
<div class="container">
    <div class="field">
        <div class="control is-large has-icons-right">
            <input class="input is-large is-rounded" type="text" placeholder="<%= __("Search") %> ...">
            <span class="icon is-small is-right">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
</div>
<div class="big-spacer"></div>